<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <style>
        * {
            margin: 0 auto;
            box-sizing: border-box;
            padding: 0;

            overflow-x: hidden;
        }

        ::-webkit-scrollbar {
            display: none;
        }

        img {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <img src="../img/tela-portfolio.jpg" alt="Portfolio">
</body>

</html>